body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "inter";
  background: black;
  height: 100vh;
  overflow-y: hidden;
}
html {
  scroll-behavior: smooth;
}

@media all and (max-width: 2500px) {
  ::-webkit-scrollbar {
    background: rgb(255, 255, 255, 0.5);
    width: 1vw;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(219, 0, 255);
    border-radius: 8px;
  }
  /* Splash Page Styling */
  .splashContainer {
    background: rgba(111, 71, 230, 0.9);
    display: grid;
    /* display: none; */
    justify-content: center;
    height: 100vh;
    align-items: center;
  }
  .splashContainer2 {
    width: 50%;
    display: grid;
    justify-self: center;
    justify-items: center;
    padding: 2vh 0 2vh 0;
  }
  .splashVideo {
    width: 80%;
    margin: 2vh 0 2vh 0;
  }
  input[type="password"] {
    color: black;
    padding: 1vh;
    border-radius: 10px;
    width: 60%;
  }

  #splashSubmit {
    background-color: rgba(219, 1, 255);
    color: white;
    padding: 0.5vh 2vw 0.5vh 2vw;
    border: none;
    border-radius: 8px;
    font-size: clamp(14px, 1.4vw, 1.5vw);
    text-align: center;
    cursor: pointer;
  }
  #splashSubmit:hover {
    background: rgb(230, 240, 250);
    color: black;
  }
  .splashForm {
    width: 80%;
    display: grid;
    justify-items: center;
  }
  .splashForm2 {
    width: 90%;
  }
  /* NAVBAR STYLING */
  .navDiv {
    position: absolute;
    top: 0vh;
    display: none;
    /* display: grid; */
    grid-template-columns: repeat(3, 20% 48%);
    column-gap: 24%;
    font-weight: 200;
    margin: 0 0 0 0;
    padding: 0 0 0 4%;
    width: 96%;
    color: white;
  }

  .navContainer {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin: 0 0 1.2vh 0%;
  }
  .a,
  .ab {
    color: white;
    text-decoration: none;
  }
  .navLogo {
    object-fit: cover;
    margin: 0;
  }

  .navMenu,
  .navMenu1 {
    border: 2px solid rgb(219, 0, 255, 0);
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }

  .navMenu:hover,
  .navMenu1:hover {
    border: 2px solid rgb(219, 0, 255, 1);
  }

  .bi56,
  .bi {
    display: none;
    z-index: 100;
  }

  /* Header section */

  .header {
    color: white;
    margin: 0;
    padding: 1vh 0 1vh 0%;
    display: none;
  }
  .headerSecond {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 89%;
    margin: 14vh 0 13% 5%;
    padding: 0 0 4vh 0;
    /* background: red;
     */
  }
  .text {
    display: grid;
    align-items: start;
    /* background: green; */
  }
  .headerH1 {
    font-size: clamp(60px, 5.2vw, 5.6vw);
    font-family: "Inter", sans-serif;
    font-weight: 800;
  }
  .headerP1 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: clamp(23px, 1.5vw, 1.6vw);
  }
  .headerButton {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    display: grid;
    width: 24%;
    padding: 2vh 2vw 2vh 2vw;
    border: none;
    border-radius: 30px;
    color: white;
    background: rgb(219, 0, 255);
  }
  .arrowSection {
    width: 100%;
    /* height: 100%; */
    display: grid;
    /* justify-self: center; */
    /* justify-items: start; */
    border-radius: 8px;
    align-items: center;
    /* background: yellow; */
  }
  .arrowImg {
    width: 100%;
    height: 60vh;
    /* margin: 20vh 0 0 0; */
    object-fit: cover;
    cursor: pointer;
    /* background: white; */
  }
  .pointers {
    display: grid;
    width: 82%;
    justify-items: end;
    margin: 0vh 0 4% 0;
  }
  .pointerCon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 26%;
    column-gap: 14%;
  }
  .pointer,
  .pointer1 {
    width: 100%;
    padding: 0.5vh;
    border-radius: 20px;
  }
  .pointer1 {
    background-color: white;
  }
  .corp {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: clamp(23px, 1.5vw, 1.6vw);
    text-align: center;
    margin: 6% 0 2% 0;
  }

  /* POPUP PAGE STYLING SECTION */
  .popUpCon {
    background: rgb(0, 0, 0, 0.3);
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0vh;
    display: none;
    padding-top: 10vh;
  }
  .popUp {
    background: rgb(0, 0, 0);
    border-radius: 10px;
    display: grid;
    justify-self: center;
    justify-items: center;
    width: 60%;
    color: white;
    padding: 0 0 6% 0;
  }
  .bipop {
    display: grid;
    justify-self: end;
    margin: 3vh;
    cursor: pointer;
  }
  .bipop:hover {
    border: 1px solid rgb(255, 255, 255, 0.6);
    border-radius: 4px;
  }
  .popUpH1,
  .popUpH4 {
    text-align: center;
  }
  .popUpH1 {
    font-family: "inter";
    font-weight: 700;
    font-size: clamp(26px, 2.4vw, 2.5vw);
  }
  .popUpH4 {
    font-family: "inter";
    font-weight: 600;
    font-size: clamp(14px, 1.1vw, 1.6vw);
  }
  .popH4Span {
    color: rgb(219, 0, 255);
  }
  .connect {
    display: grid;
    width: 50%;
    justify-items: center;
    margin-top: 5%;
  }

  .connectDiv,
  .connectDiv1 {
    display: grid;
    grid-template-columns: repeat(4, 4% 20% 30% 45%);
    align-items: center;
    width: 90%;
    column-gap: 4%;
    padding: 0.6vh 0 0.6vh 1vw;
    border: 1px solid rgb(255, 255, 255, 0.4);
    cursor: pointer;
  }
  .connectDiv1 {
    grid-template-columns: repeat(3, 4% 40% 73%);
  }
  .connectDiv:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .connectDiv:nth-child(5) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .siteLogo {
    width: 150%;
  }
  .rightArrow {
    display: grid;
    justify-self: center;
  }

  .Title,
  .metaMaskTitle {
    background: rgb(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    text-align: center;
  }
  .metaMaskTitle {
    background: rgb(219, 0, 255);
  }
  .Name,
  .Title {
    font-weight: 500;
  }

  /* Carousel page styling */

  .carousel {
    display: none;
    color: white;
    grid-template-columns: 20% 20% 60%;
    /* background: red; */
    margin-top: 10vh;
    align-items: center;
    padding: 1vh 5vw 1vh 5vw;
  }
  .exitCarousel {
    cursor: pointer;
  }
  .exitCarousel:hover {
    border: 2px solid rgb(255, 255, 255, 0.5);
    padding: 1vh;
    border-radius: 12px;
    width: 50%;
  }
  .carouselCardInfo {
    /* background: yellow; */
    display: grid;
    justify-items: center;
  }
  .carouselHead {
    font-size: clamp(20px, 1.5vw, 1.6vw);
    opacity: 0.6;
    /* background: red; */
    margin: 0;
  }
  .coordinates {
    text-align: center;
    /* background: red; */
    margin: 1vh 0 2vh 0;
  }
  .carouselBtn {
    cursor: pointer;
    color: gold;
    text-align: center;
    border-radius: 25px;
    padding: 1vh 2vw 1vh 2vw;
    background: transparent;
    border: 2px solid gold;
    font-size: clamp(20px, 1.5vw, 1.6vw);
  }
  .carouselBtn:hover {
    color: goldenrod;
    border: 2px solid goldenrod;
  }
  .zoomedSpaced {
    display: grid;
    /* background: yellow; */
    justify-items: end;
    cursor: pointer;
  }

  .zoomedImg {
    width: 90%;
    height: 89vh;
    /* background: red; */
    object-fit: cover;
    cursor: pointer;
  }

  /* cards section */
  .cardhead {
    padding: 9% 0 0 0;
    color: white;
    display: grid;
  }
  .cardH1 {
    text-align: center;
    font-weight: 700;
    font-size: clamp(34px, 2.8vw, 2.9vw);
    font-family: "poppins", sans-serif;
    font-weight: 700;
  }
  .cardSpan1 {
    color: rgb(219, 0, 255);
  }
  .cardP1 {
    text-align: center;
    opacity: 0.6;
    font-size: clamp(18px, 1.8vw, 1.9vw);
    padding: 0 0 2% 0;
    font-family: "inter", sans-serif;
    font-weight: 400;
  }
  .mainCards {
    margin: 0 12.5% 0 12.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2%;
    column-gap: 1%;
    padding-bottom: 12%;
  }
  .singleCards {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: 91.6% 0% 0% 0%;
    border-radius: 10px;
    color: white;
    margin: 0;
  }
  .cardsCon {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1vw 0 1vw;
  }
  .Opacity,
  .noOpacity {
    margin: 0;
    padding: 0;
  }
  .noOpacity {
    margin: 2vh 0 4vh 0;
  }
  .Opacity {
    opacity: 0.5;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: clamp(14px, 1.4vw, 1.5vw);
  }
  .noOpacity {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: clamp(14px, 1.4vw, 1.5vw);
  }
  .Opacity1,
  .noOpacity1 {
    margin: 0;
    padding: 0;
  }
  .Opacity1 {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    font-size: clamp(11px, 0.9vw, 1.1vw);
    opacity: 0.5;
    text-align: end;
  }
  .noOpacity1 {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: clamp(14px, 1.4vw, 1.5vw);
  }
  .mainBtn {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 0vw 0 1vw;
    margin-bottom: 3vh;
  }
  .cardsBtn {
    color: white;
    font-size: clamp(14px, 1.4vw, 1.6vw);
    font-family: "poppins", sans-serif;
    font-weight: 600;
    background: rgb(219, 0, 255);
    text-align: center;
    padding: 1vh 30% 1vh 30%;
    margin-left: 2%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .faqH1 {
    font-family: "inter", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: clamp(34px, 3vw, 3.1vw);
    color: white;
    margin-bottom: 2.8%;
  }
  .faqBoxcon {
    display: grid;
  }
  .faqBox {
    display: grid;
    background: rgb(255, 255, 255, 0.2);
    width: 60%;
    margin-bottom: 0.4vh;
    padding: 0vh 0 0vh 1.4%;
    /* background: red; */
    justify-self: center;
    justify-items: start;
    color: white;
    border-radius: 6px 6px 0 0;
  }

  .faqContainer {
    display: grid;
    grid-template-columns: repeat(2, 95% 5%);
    width: 96%;
    align-items: center;
    /* background: yellow; */
  }
  /* .faqBox2 {
    margin: 0 20% 0 20%;
  } */
  .upArrow {
    cursor: pointer;
  }
  /* .faqSummarycon {
    display: grid;
  } */

  .faqSummary {
    display: none;
    background: rgb(255, 255, 255, 0.5);
    justify-self: center;
    width: 60%;
    margin: 0.2vh 0% 1.5% 0%;
    padding: 2vh 0 2vh 1.4%;
    opacity: 0.6;
    line-height: 4vh;
    color: white;
  }
  .faqSummary2 {
    display: block;
  }
  .mainRoadmap {
    /* color: white; */
    /* background: red; */
    display: grid;
    justify-items: center;
    padding-bottom: 4vh;
  }
  .mainRoadmap2 {
    display: none;
  }
  .roadmapImg {
    width: 70%;
    margin-top: 5vh;
  }
  .teamContainer {
    /* background: red; */
    margin: 6vh 0 0 0;
  }
  .project {
    text-align: center;
    font-family: "inter", sans-serif;
    font-weight: 700;
    font-size: clamp(34px, 3.1vw, 3.2vw);
    color: white;
    margin: 0;
  }
  .roadmap {
    color: rgb(219, 0, 255);
  }

  .teamSection {
    /* background: red; */
    display: grid;
    padding-bottom: 3vh;
  }
  .teamSubsection {
    /* background: yellow; */
    display: grid;
    width: 66%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 4vh;
    justify-self: center;
    padding-bottom: 3vh;
    margin-top: 4vh;
  }
  .teamCard {
    background: #2e365a;
    border-radius: 15px;
    color: white;
    padding: 5% 5% 5% 5%;
  }
  .teamImg {
    width: 100%;
  }
  .teamName {
    font-family: "poppins", sans-seri;
    font-weight: 600;
    margin: 2vh 0 0.5vh 0;
  }
  .teamTitle {
    color: rgb(219, 0, 255);
    font-family: "poppins", sans-seri;
    font-weight: 600;
    margin: 0;
  }
  footer {
    background: rgb(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: repeat(4, 24% 20% 20% 30%);
    column-gap: 2%;
    padding: 4.5% 0 5.7% 8.2%;
    color: white;
  }
  .logoIcons {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  .noLogoOpacity {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
  .LogoOpacity {
    font-family: "poppins", sans-serif;
    font-weight: 500;
    opacity: 0.6;
    font-size: 15px;
  }
}

@media all and (max-width: 1270px) {
  .headerButton {
    width: 30%;
  }
  .splashContainer2 {
    width: 54%;
  }
  .splashVideo {
    margin: 1vh 0 2vh 0;
  }
  .carousel {
    grid-template-columns: 22.5% 22.5% 55%;
  }
}
@media all and (max-width: 1150px) {
  .mainCards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1%;
    padding-bottom: 18%;
  }
}
@media all and (max-width: 1120px) {
  .splashContainer2 {
    width: 70%;
  }
  .navDiv {
    grid-template-columns: repeat(2, 20% 54%);
    column-gap: 20%;
  }
  .headerSecond {
    margin: 12vh 0 20% 7%;
  }
  .headerH1 {
    font-size: 8vw;
  }
  .headerButton {
    width: 30%;
  }

  .popUp {
    width: 80%;
  }
  .connect {
    width: 65%;
  }
  .teamSubsection {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 750px) and (orientation: Portrait) {
  .headerSecond {
    margin: 5vh 0 2% 7%;
  }
  .arrowImg {
    margin: 0;
  }
  .headerButton {
    padding: 1vh 2vw 1vh 2vw;
  }
  .popUpCon {
    padding-top: 5vh;
  }
  #LogoOpacity {
    font-size: 12px;
  }
  .faqSummary {
    line-height: 1vh;
  }
  .arrowImg {
    display: none;
  }
}

@media all and (max-width: 900px) {
  .navDiv {
    grid-template-columns: repeat(2, 20% 64%);
    column-gap: 12%;
  }
  .headerButton {
    width: 40%;
  }
}

@media all and (max-width: 750px) {
  ::-webkit-scrollbar {
    width: 2vw;
  }
  .splashContainer2 {
    width: 94%;
  }
  .splashVideo {
    width: 100%;
  }
  .splashForm {
    width: 100%;
  }
  .navDiv {
    grid-template-columns: repeat(1, 1fr);
    margin: -1vh 0 0 0%;
    padding: 1vh 0 0 5%;
    width: 95%;
  }
  .navContainer {
    display: none;
    width: 40%;
    margin: 0vh 0 0 0;
  }
  .navMenu {
    padding: 1.5vh;
    width: 30%;
  }
  .navMenu1 {
    padding: 1.5vh;
    width: 80%;
  }
  .navMenu:hover,
  .navMenu1:hover {
    border: 2px solid rgb(255, 255, 255, 1);
    opacity: 0.7;
  }
  .headerSecond {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    margin: 10vh 0 6vh 5%;
  }
  .text {
    justify-self: center;
    /* width: 100%; */
    /* background: red; */
    height: 80%;
  }
  .headerButton {
    justify-self: center;
    width: 40%;
  }
  .headerH1,
  .headerP1 {
    text-align: center;
  }

  .headerH1 {
    font-size: 60px;
    text-align: center;
  }
  .headerP1 {
    font-size: 19px;
    margin: 0 0 4vh 0;
    text-align: center;
  }

  .arrowSection {
    /* display: grid; */
    justify-items: center;
    align-items: start;
    margin: 0vh 0 5vh 0;
    /* background:red; */
  }
  .arrowImg {
    margin: 0;
  }

  .bi56 {
    display: grid;
    position: absolute;
    top: 3.6vh;
    right: 5vw;
    cursor: pointer;
  }
  .bi {
    display: none;
    position: absolute;
    top: 3vh;
    right: 5vw;
    cursor: pointer;
  }
  .bi:hover,
  .bi56:hover {
    border-radius: 5px;
    border: 2px solid white;
    padding: 0.2vh;
  }

  .pointers {
    display: none;
    width: 94%;
    justify-items: center;
  }
  .pointerCon {
    width: 56%;
  }
  .corp {
    font-size: 16px;
  }
  .popUp {
    width: 98%;
  }
  .connect {
    width: 100%;
  }
  .popUpH4 {
    margin: 0vh 2vw 0 2vw;
  }
  .mainCards {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 78%;
  }
  .cardsCon {
    padding: 0 3vw 0 3vw;
  }
  .mainBtn {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1vw 0 6vw;
    margin-bottom: 3vh;
  }
  .faqBox {
    width: 70%;
  }
  .faqSummary {
    width: 70%;
  }
  .mainRoadmap2 {
    display: block;
    /* background: red; */
  }
  .roadmapImg {
    display: none;
  }
  .roadmapMobile {
    color: white;
    /* background: yellow; */
    display: grid;
    justify-items: center;
    margin: 0;
  }
  .roadmapHead {
    color: rgb(219, 0, 255);
    margin: 3vh 0 1vh 0;
    font-size: 30px;
  }
  .roadPar {
    margin: 0 0 3vh 0;
    /* background: yellow; */
    font-size: 14px;
  }

  .teamSection {
    /* background: yellow; */
    padding: 0 0 8vh 0;
  }
  .teamSubsection {
    display: grid;
    grid-template-columns: repeat(6, 74%);
    column-gap: 4%;
    row-gap: 2vh;
    padding: 0 0 2vh 0vw;
    overflow-x: scroll;
  }

  .teamSubsection::-webkit-scrollbar {
    background: rgb(219, 0, 255);
    height: 4px;
    width: 2vw;
  }
  .teamSubsection::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 8px;
  }

  footer {
    padding: 4.5% 0 5.7% 3%;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (max-width: 500px) {
  .arrowSection {
    margin: 2vh 0 -4vh 0;
    /* background:red; */
  }
  .arrowImg {
    height: 46vh;
  }
  .mainCards {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 88%;
    background: black;
  }
  .cardsCon {
    padding: 0 2vw 0 2vw;
  }
  .faqBox {
    width: 80%;
    padding: 0vh 1.4% 0vh 1.4%;
  }
  .faqSummary {
    width: 80%;
    padding: 0vh 1.4% 0vh 1.4%;
  }
  .teamSubsection {
    grid-template-columns: repeat(6, 86%);
    width: 74%;
  }
}
