body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "inter";
  background: black;
  height: 100vh;
  overflow-y: hidden;
  /* overflow-x: hidden; */
}
html {
  scroll-behavior: smooth;
}

@media all and (max-width: 2500px) {
  ::-webkit-scrollbar {
    background: rgb(255, 255, 255, 0.5);
    width: 1vw;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(219, 0, 255);
    border-radius: 8px;
  }
  /* Splash Page Styling */
  .splashContainer {
    background: black;
    display: grid;
    justify-content: center;
    height: 100vh;
    align-items: center;
    z-index: 100;
  }
  .splashContainer2 {
    width: 50%;
    display: grid;
    justify-self: center;
    justify-items: center;
    padding: 2vh 0 2vh 0;
  }
  .splashVideo {
    width: 80%;
    margin: 2vh 0 2vh 0;
  }
  input[type="password"] {
    color: black;
    padding: 1vh;
    border-radius: 10px;
    width: 60%;
  }

  #splashSubmit {
    background-color: rgba(219, 1, 255);
    color: white;
    padding: 0.5vh 2vw 0.5vh 2vw;
    border: none;
    border-radius: 8px;
    font-size: clamp(14px, 1.4vw, 1.5vw);
    text-align: center;
    cursor: pointer;
  }
  #splashSubmit:hover {
    background: rgb(230, 240, 250);
    color: black;
  }
  .splashForm {
    width: 80%;
    display: grid;
    justify-items: center;
  }
  .splashForm2 {
    width: 90%;
  }
  /* NAVBAR STYLING */
  .navDiv {
    position: absolute;
    top: 0vh;
    display: none;
    /* display: grid; */
    grid-template-columns: repeat(3, 15% 42% 21%);
    column-gap: 11%;
    font-weight: 200;
    margin: 0 0 0 0;
    padding: 0 0 0 4%;
    width: 96%;
    color: white;
    align-items: center;
  }

  .navContainer {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
  }
  .a,
  .ab {
    color: white;
    text-decoration: none;
  }
  .navLogo {
    object-fit: cover;
    margin: 0;
  }

  .navMenu,
  .navMenu1 {
    border: 2px solid rgb(219, 0, 255, 0);
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
  .navMenu1 {
    font-family: `Inter`;
    font-weight: 700;
  }

  .navMenu:hover,
  .navMenu1:hover {
    border: 2px solid rgb(219, 0, 255, 1);
  }
  .sup {
    background: rgb(255, 159, 14);
    font-family: `Inter`;
    font-weight: 700;
    width: fit-content;
    padding: 0 0.4vw 0 0.4vw;
    border-radius: 45%;
  }
  .navThird {
    display: flex;
  }
  #login {
    background: rgb(219, 0, 255, 1);
    margin-left: 0.5vw;
  }

  .bi56,
  .bi {
    display: none;
    z-index: 100;
  }

  /* Header section */

  .header,
  .about {
    display: none;
    color: white;
    margin: 0;
    padding: 1vh 0 1vh 0%;
    /* display: grid; */
    justify-items: center;
  }
  .about {
    padding-top: 3vh;
    display: grid;
  }

  .headerH1 {
    margin-top: 20vh;
    text-align: center;
    font-family: `inter`;
    font-weight: 700;
    font-size: clamp(33px, 3.8vw, 3.9vw);
  }
  .headerP1,
  .aboutP1,
  .aboutP2 {
    text-align: center;
    font-family: `inter`;
    font-weight: 600;
    font-size: clamp(18px, 1.45vw, 1.5vw);
    color: rgb(255, 255, 255, 0.8);
    width: 64vw;
    margin-top: -1vh;
  }
  .headerBtn {
    font-family: `inter`;
    font-weight: 700;
    font-size: clamp(18px, 1.2vw, 1.3vw);
    padding: 2vh 3vw 2vh 3vw;
    text-align: center;
    border: none;
    border-radius: 8vw;
    background: #db00ff;
    color: white;
    width: fit-content;
    margin-top: 2vh;
    cursor: pointer;
  }
  .swiper {
    width: 100%;
    margin: 6vh 0 5vh 0;
    background: transparent;
  }
  .swiper-slide {
    background: transparent;
  }

  .swiper-slide img {
    width: 100%;
  }
  .direction {
    display: flex;
    margin: 2vh;
  }
  #headerIcon1,
  #headerIcon2 {
    background: rgb(255, 255, 255, 0.3);
    margin: 0.5vh;
    padding: 2vh;
    border-radius: 50%;
  }
  #headerIcon1:hover,
  #headerIcon2:hover {
    background: #db00ff;
    cursor: pointer;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: white !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  .direction1 {
    background: #db00ff;
    width: fit-content;
    padding: 2vh;
    border: none;
    border-radius: 50%;
  }
  .aboutP1,
  .aboutP2 {
    width: 70vw;
  }
  .aboutImg {
    width: 70%;
    margin: 0 0 5vh 0;
  }
  .aboutP2 {
    text-align: start;
    margin-bottom: 8vh;
  }
  .timeline1,
  .timeline {
    display: grid;
    grid-template-columns: repeat(2, 34% 66%);
    align-items: center;
    margin: 6vh 0 0 0;
    width: 71%;
    column-gap: 2%;
  }
  .timeline1 {
    grid-template-columns: repeat(2, 66% 34%);
  }
  .timeH1 {
    font-family: `inter`;
    font-weight: 600;
    font-size: clamp(19px, 1.45vw, 1.5vw);
  }
  .timeP1 {
    font-family: `inter`;
    font-weight: 500;
    font-size: clamp(16px, 1.2vw, 1.25vw);
    color: rgb(255, 255, 255, 0.8);
    line-height: 5vh;
  }

  .arrowImg {
    width: 100%;
    height: 60vh;
    /* margin: 0vh 10vw 0 0; */
    object-fit: cover;
    cursor: pointer;
    /* background: white; */
    /* */
  }

  .corp1,
  .corp2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: clamp(23px, 1.5vw, 1.6vw);
    text-align: center;
    margin: 6% 0 2% 0;
  }
  .corp1 {
    color: white;
    margin-bottom: 0;
    font-size: clamp(18px, 1.5vw, 1.6vw);
  }
  .corp2 {
    font-size: clamp(18px, 1.1vw, 1.2vw);
    color: white;
    margin: 0% 0 1% 0;
  }

  /* POPUP PAGE STYLING SECTION */
  .popUpCon {
    background: rgb(0, 0, 0, 0.3);
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0vh;
    display: none;
    padding-top: 10vh;
  }
  .popUp {
    background: rgb(0, 0, 0);
    border-radius: 10px;
    display: grid;
    justify-self: center;
    justify-items: center;
    width: 60%;
    color: white;
    padding: 0 0 6% 0;
  }
  .bipop {
    display: grid;
    justify-self: end;
    margin: 3vh;
    cursor: pointer;
  }
  .bipop:hover {
    border: 1px solid rgb(255, 255, 255, 0.6);
    border-radius: 4px;
  }
  .popUpH1,
  .popUpH4 {
    text-align: center;
  }
  .popUpH1 {
    font-family: "inter";
    font-weight: 700;
    font-size: clamp(26px, 2.4vw, 2.5vw);
  }
  .popUpH4 {
    font-family: "inter";
    font-weight: 600;
    font-size: clamp(14px, 1.1vw, 1.6vw);
  }
  .popH4Span {
    color: rgb(219, 0, 255);
  }
  .connect {
    display: grid;
    width: 50%;
    justify-items: center;
    margin-top: 5%;
  }

  .connectDiv,
  .connectDiv1 {
    display: grid;
    grid-template-columns: repeat(4, 4% 20% 30% 45%);
    align-items: center;
    width: 90%;
    column-gap: 4%;
    padding: 0.6vh 0 0.6vh 1vw;
    border: 1px solid rgb(255, 255, 255, 0.4);
    cursor: pointer;
  }
  .connectDiv1 {
    grid-template-columns: repeat(3, 4% 40% 73%);
  }
  .connectDiv:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .connectDiv:nth-child(5) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .siteLogo {
    width: 150%;
  }
  .rightArrow {
    display: grid;
    justify-self: center;
  }

  .Title,
  .metaMaskTitle {
    background: rgb(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    text-align: center;
  }
  .metaMaskTitle {
    background: rgb(219, 0, 255);
  }
  .Name,
  .Title {
    font-weight: 500;
  }

  /* Carousel page styling */

  .carousel {
    display: none;
    color: white;
    grid-template-columns: 20% 20% 60%;
    /* background: red; */
    margin-top: 10vh;
    align-items: center;
    padding: 1vh 5vw 1vh 5vw;
  }
  .exitCarousel {
    cursor: pointer;
  }
  .exitCarousel:hover {
    border: 2px solid rgb(255, 255, 255, 0.5);
    padding: 1vh;
    border-radius: 12px;
    width: 50%;
  }
  .carouselCardInfo {
    /* background: yellow; */
    display: grid;
    justify-items: center;
  }
  .carouselHead {
    font-size: clamp(20px, 1.5vw, 1.6vw);
    opacity: 0.6;
    /* background: red; */
    margin: 0;
  }
  .coordinates {
    text-align: center;
    /* background: red; */
    margin: 1vh 0 2vh 0;
  }
  .carouselBtn {
    cursor: pointer;
    color: gold;
    text-align: center;
    border-radius: 25px;
    padding: 1vh 2vw 1vh 2vw;
    background: transparent;
    border: 2px solid gold;
    font-size: clamp(20px, 1.5vw, 1.6vw);
  }
  .carouselBtn:hover {
    color: goldenrod;
    border: 2px solid goldenrod;
  }
  .zoomedSpaced {
    display: grid;
    /* background: yellow; */
    justify-items: end;
    cursor: pointer;
  }

  .zoomedImg {
    width: 90%;
    height: 89vh;
    /* background: red; */
    object-fit: cover;
    cursor: pointer;
  }

  .mainRoadmap {
    /* color: white; */
    /* background: red; */
    display: grid;
    justify-items: center;
    padding-bottom: 4vh;
  }
  .mainRoadmap2 {
    display: none;
  }
  .roadmapImg {
    width: 70%;
    margin-top: 5vh;
  }
  .teamContainer {
    /* background: red; */
    margin: 6vh 0 0 0;
  }
  .project {
    text-align: center;
    font-family: "inter", sans-serif;
    font-weight: 700;
    font-size: clamp(34px, 3.1vw, 3.2vw);
    color: white;
    margin: 0;
  }
  .roadmap {
    color: rgb(219, 0, 255);
  }

  .teamSection {
    display: grid;
    padding-bottom: 3vh;
  }
  .teamSubsection {
    display: grid;
    width: 66%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 4vh;
    justify-self: center;
    padding-bottom: 3vh;
    margin-top: 4vh;
  }
  .teamCard {
    background: #2e365a;
    border-radius: 15px;
    color: white;
    padding: 5% 5% 5% 5%;
  }
  .teamImg {
    width: 100%;
  }
  .teamName {
    font-family: "poppins", sans-seri;
    font-weight: 600;
    margin: 2vh 0 0.5vh 0;
  }
  .teamTitle {
    color: rgb(219, 0, 255);
    font-family: "poppins", sans-seri;
    font-weight: 600;
    margin: 0;
  }
  footer {
    padding: 3vh 2.5% 3vh 5.5%;
    background: rgb(255, 255, 255, 0.1);
  }
  .footer {
    top: 0vh;
    display: grid;
    grid-template-columns: repeat(2, 10% 38%);
    column-gap: 52%;
    font-weight: 200;
    margin: 0 0 0 0;
    padding: 0 0 0 0%;
    width: 96%;
    color: white;
    border: 3px solid black;
    background: rgb(0, 0, 0, 0.1);
  }
  .footerContainer {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin: 0 0 1.2vh 0%;
  }
  .faqMenu {
    padding: 1.5vh;
    width: 40%;
    cursor: pointer;
  }

  .faqMenu:hover {
    opacity: 0.7;
  }
}

@media all and (max-width: 1270px) {
  .aboutImg {
    width: 70%;
  }
  .splashContainer2 {
    width: 54%;
  }
  .splashVideo {
    margin: 1vh 0 2vh 0;
  }
  .carousel {
    grid-template-columns: 22.5% 22.5% 55%;
  }
  .timeline1,
  .timeline {
    display: grid;
    grid-template-columns: repeat(2, 34% 66%);
    align-items: center;
    margin: 6vh 0 0 0;
    width: 76%;
    column-gap: 0%;
  }
  .timeline1 {
    grid-template-columns: repeat(2, 66% 34%);
    column-gap: 4%;
  }
  .timeImg {
    width: 80%;
  }
  .timeP1 {
    line-height: 3.5vh;
  }
  .footer {
    grid-template-columns: repeat(2, 10% 49%);
    column-gap: 40%;
  }
}
@media all and (max-width: 1120px) {
  .splashContainer2 {
    width: 70%;
  }
  .navDiv {
    grid-template-columns: repeat(3, 15% 44% 25%);
    column-gap: 8%;
  }
  .headerH1 {
    margin-top: 13vh;
  }

  .popUp {
    width: 80%;
  }
  .connect {
    width: 65%;
  }
  .teamSubsection {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 750px) and (max-width: 1000px) {
  .navContainer {
    width: 110%;
    margin-right: 3vw;
    padding: 0;
  }
}

@media all and (min-width: 750px) and (orientation: Portrait) {
  .headerH1 {
    margin-top: 10vh;
  }
  .headerP1,
  .aboutP1,
  .aboutP2 {
    margin-top: 0vh;
  }
  .headerBtn {
    font-size: 24px;
    padding: 1vh 4vw 1vh 4vw;
    margin: 0;
  }
  .aboutImg {
    width: 70%;
    margin: 1vh 0 2vh 0;
  }
  .aboutP2 {
    margin-bottom: 4vh;
  }
  .swiper {
    margin: 0;
    /* background: red; */
  }
  .timeline1,
  .timeline {
    margin: 2.4vh 0 0 0;
  }
  .timeP1 {
    line-height: 1.5vh;
  }

  .popUpCon {
    padding-top: 5vh;
  }
  #LogoOpacity {
    font-size: 12px;
  }
  .faqSummary {
    line-height: 1vh;
  }

  .splashContainer {
    height: 110vh;
  }
  .footer {
    grid-template-columns: repeat(2, 10% 67%);
    align-items: center;
    column-gap: 22%;
  }
}

@media all and (max-width: 900px) {
  .navDiv {
    grid-template-columns: repeat(3, 15% 46% 29%);
    column-gap: 5%;
  }
  .footer {
    grid-template-columns: repeat(2, 10% 69%);
    column-gap: 20%;
  }
}

@media all and (max-width: 750px) {
  ::-webkit-scrollbar {
    width: 2vw;
  }
  .splashContainer2 {
    width: 94%;
  }
  .splashVideo {
    width: 100%;
  }
  .splashForm {
    width: 100%;
  }
  .corp2 {
    margin: 0% 0 4% 0;
  }
  .navDiv {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0%;
    row-gap: 0%;
    margin: 0vh 0 0 0%;
    padding: 0vh 0 0 5%;
    width: 95%;
  }
  .navContainer,
  .navThird {
    display: none;
    width: 40%;
    margin: 0vh 0 0 0;
  }
  .navThird {
    display: none;
    width: 25%;
    margin-left: 7%;
  }
  .navMenu {
    padding: 1.5vh;
    width: 40%;
  }
  .navMenu1 {
    padding: 1.5vh;
    width: 80%;
  }
  .navMenu:hover,
  .navMenu1:hover {
    border: 2px solid rgb(255, 255, 255, 1);
    opacity: 0.5;
  }
  #login {
    background: rgb(255, 255, 255, 0.3);
    width: 26%;
  }
  .headerH1 {
    margin-top: 13vh;
    width: 86%;
  }
  .headerP1,
  .aboutP1,
  .aboutP2 {
    margin-top: 2vh;
    width: 80%;
  }
  .headerBtn {
    padding: 2vh 5vw 2vh 5vw;
  }
  .aboutP2 {
    margin-bottom: 3vh;
  }
  .swiper {
    margin: 3vh 0 2vh 0;
  }

  .aboutImg {
    width: 94%;
    margin: 1vh 0 2vh 0;
  }
  .aboutP2 {
    width: 94%;
  }
  .timeline1,
  .timeline {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    align-items: center;
    margin: 4vh 0 0 0;
    width: 80%;
  }

  .arrowImg {
    margin: 0;
  }

  .bi56 {
    display: block;
    position: absolute;
    top: 2.5vh;
    right: 5vw;
    cursor: pointer;
  }
  .bi {
    display: none;
    position: absolute;
    top: 3vh;
    right: 5vw;
    cursor: pointer;
  }
  .bi:hover,
  .bi56:hover {
    border-radius: 5px;
    border: 2px solid white;
    padding: 0.2vh;
  }

  .popUp {
    width: 98%;
  }
  .connect {
    width: 100%;
  }
  .popUpH4 {
    margin: 0vh 2vw 0 2vw;
  }

  .mainRoadmap2 {
    display: block;
    /* background: red; */
  }
  .roadmapImg {
    display: none;
  }
  .roadmapMobile {
    color: white;
    /* background: yellow; */
    display: grid;
    justify-items: center;
    margin: 0;
  }
  .roadmapHead {
    color: rgb(219, 0, 255);
    margin: 3vh 0 1vh 0;
    font-size: 30px;
  }
  .roadPar {
    line-height: 3.5vh;
    text-align: center;
    font-size: 14px;
  }

  .teamSection {
    /* background: yellow; */
    padding: 0 0 8vh 0;
  }
  .teamSubsection {
    display: grid;
    grid-template-columns: repeat(3, 74%);
    column-gap: 4%;
    row-gap: 2vh;
    padding: 0 0 2vh 0vw;
    overflow-x: scroll;
  }

  .teamSubsection::-webkit-scrollbar {
    background: rgb(219, 0, 255);
    height: 4px;
    width: 2vw;
  }
  .teamSubsection::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 8px;
  }
  .footer {
    grid-template-columns: repeat(2, 5% 69%);
    column-gap: 25%;
  }
  .footerContainer {
    overflow-x: scroll;
    margin: 0;
    padding: 0;
  }

  .footerContainer::-webkit-scrollbar {
    background: rgb(219, 0, 255);
    height: 0px;
  }
}

@media all and (max-width: 500px) {
  .teamSubsection {
    grid-template-columns: repeat(3, 86%);
    width: 74%;
  }
  .navThird {
    width: 44%;
    padding-left: 5vw;
  }
  .swiper {
    margin: 0;
    padding: 0;
    /* background: red; */
  }
  .swiper-slide {
    /* background: green; */
    margin: 0;
    padding: 0;
  }
  .swiper-slide img {
    margin: 0;
    padding: 0;
  }
  .footer {
    grid-template-columns: repeat(2, 5% 55%);
    column-gap: 40%;
  }
}

@media all and (max-width: 450px) {
  .bi56,
  .bi {
    top: 2.3vh;
  }
}
