body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(0, 0, 0);
}

@media all and (max-width: 2500px) {
  nav {
    display: grid;
    grid-template-columns: repeat(3, 20% 44%);
    column-gap: 26%;
    font-weight: 200;
    margin: 0 0 0 -5%;
    padding: 0 0 0 9%;
  }

  .navContainer {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
  }
  .navMenu,
  .navMenu1 {
    border: 2px solid rgb(219, 0, 255, 0);
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 30px;
    cursor: pointer;
  }

  .navMenu:hover,
  .navMenu1:hover {
    border: 2px solid rgb(219, 0, 255, 1);
  }

  .bi56,
  .bi {
    display: none;
  }

  /* Header section */

  .header {
    background: url("./images/headerBackground.svg");
    color: white;
    margin: 0;
    padding: 1vh 0 1vh 4.8%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .headerSecond {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    margin: 5vh 0 12vh 7%;
    padding: 0 0 4vh 0;
    height: 58vh;
  }
  .text {
    display: grid;
    align-items: start;
  }
  .headerH1 {
    font-size: clamp(60px, 5.5vw, 5.6vw);
    font-weight: 800;
  }
  .headerP1 {
    font-size: clamp(23px, 1.6vw, 1.8vw);
  }
  .headerButton {
    display: grid;
    width: 24%;
    padding: 2vh 2vw 2vh 2vw;
    border: none;
    border-radius: 30px;
    color: white;
    background: rgb(219, 0, 255);
  }
  .headerPl {
    text-align: center;
    margin: 0vh 0 3vh 0%;
    font-size: clamp(23px, 1.6vw, 1.8vw);
  }
  .arrowSection {
    width: 80%;
    height: 100%;
    display: grid;
    justify-self: center;
    justify-items: end;
    border-radius: 8px;
    align-items: center;
  }
  .arrowImg {
    width: 100%;
    margin: 0;
    object-fit: cover;
    cursor: pointer;
  }
  .pointers {
    display: grid;
    width: 78%;
    justify-items: end;
    margin: 2vh 0 10vh 0;
  }
  .pointerCon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 26%;
    column-gap: 14%;
  }
  .pointer,
  .pointer1 {
    width: 100%;
    padding: 0.5vh;
    border-radius: 20px;
  }
  .pointer1 {
    background-color: white;
  }
}

@media all and (max-width: 1430px) {
  .headerSecond {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    margin: 8vh 0 12vh 7%;
  }
}

@media all and (max-width: 1300px) {
  .headerSecond {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    margin: 14vh 0 8vh 7%;
  }
}

@media all and (max-width: 1050px) {
  nav {
    grid-template-columns: repeat(2, 20% 50%);
    column-gap: 20%;
  }
  .headerSecond {
    margin: 3vh 0 18vh 7%;
  }
  .headerH1 {
    font-size: 8vw;
  }
  .headerButton {
    width: 30%;
  }
}

@media all and (max-width: 900px) {
  nav {
    grid-template-columns: repeat(2, 20% 58%);
    column-gap: 11%;
  }
}

@media all and (max-width: 750px) {
  nav {
    grid-template-columns: repeat(1, 1fr);
    margin: -1vh 0 0 -5%;
    padding: 2vh 0 0 5%;
  }
  .navContainer {
    display: none;
    width: 40%;
    margin: 0vh 0 0 0;
  }
  .navMenu {
    padding: 1.5vh;
    width: 30%;
  }
  .navMenu1 {
    padding: 1.5vh;
    width: 70%;
  }

  .headerSecond {
    grid-template-columns:repeat(1, 1fr);
    height: 100%;
    margin: 1vh 0 6vh 5%;
  }
  .text {
    justify-self: center;
    width: 100%;
  }
  .headerButton {
    justify-self: center;
    width: 40%;
  }
  .headerH1,
  .headerP1 {
    text-align: center;
  }

  .arrowSection {
    justify-items: center;
    margin: 4vh 0 0 0;
  }

  .bi56 {
    display: grid;
    position: absolute;
    top: 3vh;
    right: 5vw;
    cursor: pointer;
  }
  .bi {
    display: none;
    position: absolute;
    top: 3vh;
    right: 5vw;
    cursor: pointer;
  }
  .bi:hover,
  .bi56:hover {
    border-radius: 5px;
    border: 2px solid white;
    padding: 0.2vh;
  }

  .headerH1 {
    font-size: 60px;
    text-align: center;
  }
  .headerP1 {
    font-size: 19px;
    margin: 0 0 10% 0;
    text-align: center;
  }
  .headerPl {
    font-size: 19px;
  }
  .pointers {
    width: 94%;
    justify-items: center;
  }
  .pointerCon {
    width: 56%;
  }
}

